[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=google drive
Comment=
Exec=google-drive-ocamlfuse /home/mike/Drive/
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

